@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span
{
  cursor: default;
}

a
{
  cursor: pointer;
}

:disabled
{
  background-color: #F9F9F9;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

/* Scale */
.scale
{
  transition: all 150ms ease-in;
}

.scale:hover
{
  transform: scale(0.95);
}

.scale:focus
{
  transform: scale(0.95);
}

.scale:active
{
  transform: scale(0.90);
}

/* Input */
.input
{
  border: 1px solid #FFFFFF;
  transition: all 150ms ease-in;
}

.input:hover
{
  box-shadow: 1.5px 1.5px #2A254B;
}

.input:focus
{
  outline: none;
  border: 1px solid #2A254B;
  box-shadow: 2px 2px #2A254B;
}

/* Loader */
#loader
{
  width: 7rem;
  height: 7rem;
  border-radius: 100%;
  background: #2A254B;
  background: linear-gradient(90deg, #2A254B 0%, #4E4D93 50%, #F9F9F9 100%);
  animation: Grow 1.5s ease-in-out infinite;
}

@keyframes Grow
{
  0%
  {
    transform: scale(1);
  }

  50%
  {
    transform: scale(1.5);
  }

  100%
  {
    transform: scale(1);
  }
}