@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span
{
  cursor: default;
}

a
{
  cursor: pointer;
}

button
{
  outline: none;
}

input
{
  outline: none;
}

:disabled
{
  background-color: #F9F9F9;
  border-radius: 0.25rem 0.25rem 0rem 0rem;
}

/* Scale */
.scale
{
  transition: all 150ms ease-in;
}

.scale:hover
{
  transform: scale(0.95);
}

.scale:focus
{
  transform: scale(0.95);
}

.scale:active
{
  transform: scale(0.90);
}

/* Input */
.input
{
  border: 1px solid #FFFFFF;
  transition: all 150ms ease-in;
}

.input:hover
{
  box-shadow: 1.5px 1.5px #2A254B;
}

.input:focus
{
  outline: none;
  border: 1px solid #2A254B;
  box-shadow: 2px 2px #2A254B;
}

/* Search */
.search
{
  border: 1px solid #2A254B;
  border-radius: 0.25rem;
  box-shadow: 1.25px 1.25px #2A254B;
}

/* Loading */
.Corner
{
  animation: Bar1 1.25s ease-in-out infinite;
}

.Middle
{
  animation: Bar2 1.25s ease-in-out infinite;
}

.Center
{
  animation: Bar3 1.25s ease-in-out infinite;
}

@keyframes Bar1
{
  0%
  {
    transform: translateY(0%)
  }

  50%
  {
    transform: translateY(-15%)
  }

  100%
  {
    transform: translateY(0%)
  }
}

@keyframes Bar2
{
  0%
  {
    transform: translateY(0%)
  }

  50%
  {
    transform: translateY(15%)
  }

  100%
  {
    transform: translateY(0%)
  }
}

@keyframes Bar3
{
  0%
  {
    transform: translateY(0%)
  }

  25%
  {
    transform: translateY(-10%)
  }

  75%
  {
    transform: translateY(10%)
  }

  100%
  {
    transform: translateY(0%)
  }
}