@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span
{
  cursor: default;
}

a
{
  cursor: pointer;
}

/* Scale */
.scale
{
  transition: all 150ms ease-in;
}

.scale:hover
{
  transform: scale(0.95);
}

.scale:focus
{
  transform: scale(0.95);
}

.scale:active
{
  transform: scale(0.90);
}

/* Input */
.input
{
  border: 1px solid #FFFFFF;
  transition: all 150ms ease-in;
}

.input:hover
{
  box-shadow: 1.5px 1.5px #2A254B;
}

.input:focus
{
  outline: none;
  border: 1px solid #2A254B;
  box-shadow: 2px 2px #2A254B;
}